.container-fluid {
    background-image: url(../img/bw.jpg);
     background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;
}

.CA {
    color: white;
    font-size: 100px;
}

.js {
    color: white;
    font-size: 40px;
}