body{
    display: grid;
}



.bwBG {
    background-image: url(../img/bw.jpg);
     background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;
}

.CA {
    color: white;
    font-size: 100px;
}

.js {
    color: white;
    font-size: 40px;
}

.H {
font-size: 50Px;
}
.c {
font-size: 60Px;
color: rgb(0, 141, 141);
}

.container {
   display: flex;
  width: 100vw;

}

.row {
    width: 100%;
}

.col {
 width: 50%;
}

.Abt {
font-size: 25px;
}

.thi {
    width: 800px;
    height: 900px;
}